@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Varela+Round&display=swap');
@import "tailwindcss";



::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #65a765;
    /* slate-300 */
    border-radius: 9999px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
    /* darker slate-400 on hover */
}

::-webkit-scrollbar-track {
    background-color: #f8fafc;
    /* bg-slate-50 */
    border-radius: 9999px;
    /* Rounded corners */
}


html {
    scroll-behavior: smooth;
}

* {
    font-family: Outfit;
}

a.active hr {
    display: block;
    transition: all;
    animation-duration: 1000ms;
}

a.active p {
    color: black;
    transition: all;
    animation-duration: 1000ms;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
  